<form method="post" action="/students/store" >
  <div class="form-group">
    <label >Tên Sinh Viên</label>
    <input type="text" class="form-control" name="name_student" placeholder="Tên Sinh Viên">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>