<form>
  <div class="form-group">
    <label>Email address</label>
    <input type="text" class="form-control" name="{{course.name}}" placeholder="Enter Name">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>