<div class="container mt-4">


    
    {{#each data}}

    <div class="row">
        <div class="col-lg-3">
            <div class="btn btn-success">{{ this.name }}</div>
        </div>
        <div class="col-mg-9">
            <h2>{{this.name}}</h2>
            <img class="card-img-top" src="../assets/img/{{this.image}}" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo labore rem dignissimos facilis ex, repellendus delectus maiores obcaecati error accusamus exercitationem, nam dolore mollitia ullam reprehenderit! Eligendi amet esse nobis.</p>
        </div>
    </div>

    
    {{/each}}

</div>
