<div class="container mt-4">


    <div class="row">
        <div class="col-lg-3">
            <div class="btn btn-success">Hoc Ngay</div>
        </div>
        <div class="col-mg-9">
            <h2>{{course.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{source.videoID}}" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo labore rem dignissimos facilis ex, repellendus delectus maiores obcaecati error accusamus exercitationem, nam dolore mollitia ullam reprehenderit! Eligendi amet esse nobis.</p>
        </div>
    </div>

</div>
