<link href="//fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,600;0,700;1,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/style-starter.css">


<header id="site-header" class="fixed-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark stroke">
      <h1><a class="navbar-brand" href="index.html">
          <span class="sub-log">KCNTT</span>
        </a></h1>
      <!-- if logo is image enable this   
      <a class="navbar-brand" href="#index.html">
          <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
      </a> -->
      <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
        data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
        <span class="navbar-toggler-icon fa icon-close fa-times"></span>
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mx-lg-auto">
          <li class="nav-item active">
            <a class="nav-link active" href="/home">Trang Chủ <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home/about">Giới Thiệu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home/services">Tin Tức</a>
          </li>
          <li class="top-quote ml-lg-4 mt-lg-0 mt-3">
            <a href="/admin" class="btn btn-style btn-primary">Đăng Nhập</a>
          </li>
        </ul>
      </div>
      <!-- toggle switch for light and dark theme -->

      <div class="mobile-position">
        <nav class="navigation">
          <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
              <input type="checkbox" id="checkbox">
              <div class="mode-container py-1">
                <i class="gg-sun"></i>
                <i class="gg-moon"></i>
              </div>
            </label>
          </div>
        </nav>
      </div>
      <!-- //toggle switch for light and dark theme -->
    </nav>
  </div>
</header>
<div class="inner-banner">
</div>
<section class="w3l-breadcrumb">
  <div class="container">
    <ul class="breadcrumbs-custom-path">
      <li><a href="#url">Trang chủ</a></li>
      <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Giới Thiệu</li>
    </ul>
  </div>
</section>
<div class="w3l-cwp4-sec py-5">
  <div class="container py-md-5 py-3">
    <div class="cwp4-two row align-items-center">
      <div class="cwp4-image col-lg-6 pr-lg-5 mb-lg-0 mb-5">
        <img src="/assets/images/dtu.jpg" class="img-fluid" alt="">
      </div>
      <div class="cwp4-text col-lg-6">
        <h6 class="sub-titlehny">TỔNG QUAN</h6>
        <h3 class="hny-title">Tổng quan về Đại học Duy Tân
        </h3>
        <p>Tọa lạc giữa trung tâm thành phố Đà Nẵng, bên bờ biển Thái Bình Dương quanh năm đầy nắng ấm, Đại học Duy Tân
          đang từng ngày vươn lên cùng thành phố với khát vọng đổi mới theo hướng hiện đại. Được thành lập từ ngày
          11/11/1994 theo Quyết định Số 666/TTg của Thủ tướng Chính phủ, Đại học Duy Tân là trường Đại học Tư thục đầu
          tiên và Lớn nhất miền Trung đào tạo đa bậc, đa ngành, đa lĩnh vực. Với những bước đi thiết thực và hiệu quả
          trong công tác dạy và học, hơn 26 năm xây dựng và phát triển, Đại học Duy Tân đã tuyển sinh được 108.888
          nghiên cứu sinh, học viên, sinh viên, trong đó có: 7 khoá Tiến sĩ với 51 nghiên cứu sinh; 22 khóa Thạc sĩ với
          2.569 học viên cao học; 26 khóa đại học, cao đẳng với 106.268 sinh viên; và 12 khóa Trung cấp Chuyên nghiệp
          với 12.400 học sinh. Trường đã cung cấp cho xã hội 65.571 Tiến sĩ, Thạc sĩ, Kỹ sư, Kiến trúc sư, Dược sĩ và Cử
          nhân; và 8.000 học sinh tốt nghiệp Trung cấp Chuyên nghiệp. Các ngành đào tạo tại Đại học Duy Tân khá đa dạng
          như: Công nghệ Thông tin, Quản trị Kinh doanh, Ngoại ngữ, Du lịch, Điện tử, Xây dựng, Kiến trúc, Y, Dược và cả
          các ngành Khoa học Xã hội gồm Văn - Báo chí, Truyền thông Đa phương tiện, Quan hệ Quốc tế, Văn hóa Du lịch và
          Luật Kinh tế. Sinh viên Duy Tân ra trường nhanh chóng tìm được việc làm với tỉ lệ 95% có việc làm sau khi tốt
          nghiệp.
        </p>

      </div>

    </div>
  </div>

</div>





















<section class="w3l-team">
  <div class="team py-5">
    <div class="container py-md-5 py-3">
      <div class="header-section text-center mx-auto">
        <h6 class="sub-titlehny">Team Chúng Tôi</h6>
        <h3 class="hny-title">Meet Our Team</h3>
        <p class="my-3"> Chúng tôi là những sinh viên năm 4 của Đại Học Duy Tân khoa CNTT làm dự án Website Quản Lý Thực
          Tập Sinh</p>
      </div>
      <div class="row team-row pt-3 mt-5">
        <div class="col-lg-2 col-sm-6 team-wrap">
          <div class="team-info">
            <div class="column position-relative img-circle">
              <a href="#url"><img src="/assets/images/team1.jpg" alt="" class="img-fluid" /></a>
            </div>
            <div class="column-btm">
              <h3 class="name-pos"><a href="#url">Tiến Đỉnh</a></h3>
              <p>Chief Executive</p>
              <div class="social">
                <a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                <a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
              </div>
            </div>
          </div>
        </div>
        <!-- end team member -->


        <div class="col-lg-2 col-sm-6 team-wrap mt-sm-0 pt-sm-0 mt-4 pt-2">
          <div class="team-info">
            <div class="column position-relative img-circle">
              <a href="#url"><img src="/assets/images/team2.jpg" alt="" class="img-fluid" /></a>
            </div>
            <div class="column-btm">
              <h3 class="name-pos"><a href="#url">Thanh Tú</a></h3>
              <p>Managing Director</p>
              <div class="social">
                <a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                <a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
              </div>
            </div>
          </div>

        </div>
        <!-- end team member -->

        <div class="col-lg-2 col-sm-6 team-wrap mt-lg-0 pt-lg-0 mt-4 pt-2">

          <div class="team-info">
            <div class="column position-relative img-circle">
              <a href="#url"><img src="/assets/images/team3.jpg" alt="" class="img-fluid" /></a>
            </div>
            <div class="column-btm">
              <h3 class="name-pos"><a href="#url">Văn Thịnh</a></h3>
              <p>HR Officer</p>
              <div class="social">
                <a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                <a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
              </div>
            </div>
          </div>
        </div>
        <!-- test -->
        <div class="col-lg-2 col-sm-6 team-wrap mt-lg-0 pt-lg-0 mt-4 pt-2">

          <div class="team-info">
            <div class="column position-relative img-circle">
              <a href="#url"><img src="/assets/images/team3.jpg" alt="" class="img-fluid" /></a>
            </div>
            <div class="column-btm">
              <h3 class="name-pos"><a href="#url">Quốc Huy</a></h3>
              <p>HR Officer</p>
              <div class="social">
                <a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                <a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-sm-6 team-wrap mt-lg-0 pt-lg-0 mt-4 pt-2">

          <div class="team-info">
            <div class="column position-relative img-circle">
              <a href="#url"><img src="/assets/images/team3.jpg" alt="" class="img-fluid" /></a>
            </div>
            <div class="column-btm">
              <h3 class="name-pos"><a href="#url">Gia Huy</a></h3>
              <p>HR Officer</p>
              <div class="social">
                <a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                <a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-sm-6 team-wrap mt-lg-0 pt-lg-0 mt-4 pt-2">

          <div class="team-info">
            <div class="column position-relative img-circle">
              <a href="#url"><img src="/assets/images/team3.jpg" alt="" class="img-fluid" /></a>
            </div>
            <div class="column-btm">
              <h3 class="name-pos"><a href="#url">Lê Loan</a></h3>
              <p>HR Officer</p>
              <div class="social">
                <a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                <a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-sm-6 team-wrap mt-lg-0 pt-lg-0 mt-4 pt-2">

          <div class="team-info">
            <div class="column position-relative img-circle">
              <a href="#url"><img src="/assets/images/team3.jpg" alt="" class="img-fluid" /></a>
            </div>
            <div class="column-btm">
              <h3 class="name-pos"><a href="#url">Quỳnh Nhung</a></h3>
              <p>HR Officer</p>
              <div class="social">
                <a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                <a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-sm-6 team-wrap mt-lg-0 pt-lg-0 mt-4 pt-2">

          <div class="team-info">
            <div class="column position-relative img-circle">
              <a href="#url"><img src="/assets/images/team3.jpg" alt="" class="img-fluid" /></a>
            </div>
            <div class="column-btm">
              <h3 class="name-pos"><a href="#url">Văn Khang</a></h3>
              <p>HR Officer</p>
              <div class="social">
                <a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                <a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-sm-6 team-wrap mt-lg-0 pt-lg-0 mt-4 pt-2">

          <div class="team-info">
            <div class="column position-relative img-circle">
              <a href="#url"><img src="/assets/images/team3.jpg" alt="" class="img-fluid" /></a>
            </div>
            <div class="column-btm">
              <h3 class="name-pos"><a href="#url">Văn An</a></h3>
              <p>HR Officer</p>
              <div class="social">
                <a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                <a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-sm-6 team-wrap mt-lg-0 pt-lg-0 mt-4 pt-2">
          <div class="team-info">
            <div class="column position-relative img-circle">
              <a href="#url"><img src="/assets/images/team4.jpg" alt="" class="img-fluid" /></a>
            </div>
            <div class="column-btm">
              <h3 class="name-pos"><a href="#url">Ngọc Duy</a></h3>
              <p>Worker</p>
              <div class="social">
                <a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                <a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
              </div>
            </div>
          </div>

        </div>
        <!-- end team member -->

      </div>
    </div>
</section>















<section class="w3l-testimonials py-5" id="testimonials">
  <!-- main-slider -->
  <div class="container py-md-4 mb-md-0 mb-md-5 mb-4">
    <div class="heading text-center mx-auto">
      </h5>
      <h3 class="hny-title text-center mb-5">What Our Clients Say! </h3>
    </div>
    <div class="owl-testimonial owl-carousel owl-theme">
      <div class="item">
        <div class="slider-info">
          <div class="img-circle">
            <img src="/assets/images/c1.jpg" class="img-fluid rounded" alt="client image">
          </div>
          <div class="message-info">
            <span class="fa fa-quote-left mr-2"></span>
            <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit id
              accusantium officia quod quasi necessitatibus perspiciatis Harum error provident
              quibusdam tenetur dolor sit amet.Nulla mollis dapibus nunc, ut rhoncus turpis sodales quis. Integer sit
              amet mattis quam.consectetur adipisicing elit.Lorem ipsum, dolor sit amet consectetur adipisicing elit
            </div>
            <div class="name">- Johnson</div>
            <div class="desp">Comapany ,City</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="slider-info">
          <div class="img-circle">
            <img src="/assets/images/c2.jpg" class="img-fluid rounded" alt="client image">
          </div>
          <div class="message-info">
            <span class="fa fa-quote-left mr-2"></span>
            <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit id
              accusantium
              officia quod quasi necessitatibus perspiciatis Harum error provident
              quibusdam tenetur.Nulla mollis dapibus nunc, ut rhoncus turpis sodales quis. Integer sit amet mattis
              quam.consectetur adipisicing elit.Lorem ipsum, dolor sit amet consectetur adipisicing elit</div>
            <div class="name">- Sami Wade</div>
            <div class="desp">Comapany ,City</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="slider-info">
          <div class="img-circle">
            <img src="/assets/images/c3.jpg" class="img-fluid rounded" alt="client image">
          </div>
          <div class="message-info">
            <span class="fa fa-quote-left mr-2"></span>
            <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit id
              accusantium
              officia quod quasi necessitatibus perspiciatis Harum error provident
              quibusdam tenetur.Nulla mollis dapibus nunc, ut rhoncus turpis sodales quis. Integer sit amet mattis
              quam.consectetur adipisicing elitLorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
            <div class="name">- Smith roy</div>
            <div class="desp">Comapany ,City</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /main-slider -->
</section>
<!--/w3l-footer-29-main-->

<section class="w3l-footer-29-main">
      <div class="footer-29 py-5">
        <div class="container py-lg-4">
          <div class="row footer-top-29">
            <div class="footer-list-29 col-lg-4">
              <h6 class="footer-title-29">Về chúng tôi</h6>
              <p>Đào tạo, nghiên cứu gắn liền với khoa học và công nghệ nhằm tạo ra những sinh viên và học viên có lòng yêu nước, có phẩm chất Nhân văn mang đậm bản sắc Việt Nam, có ý thức sinh hoạt cộng đồng, có sức khỏe, có năng lực và kỹ năng toàn diện, tự tin, năng động, sáng tạo và trở thành công dân khởi nghiệp mang tính toàn cầu. </p>
              <div class="main-social-footer-29 mt-4">
                <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
              </div>
            </div>
  
            <div class="col-lg-2 col-md-6 col-sm-4 footer-list-29 footer-2 mt-lg-0 mt-5">
  
              <ul>
                <h6 class="footer-title-29">Liên kết</h6>
                <li><a href="index.html">Trang chủ</a></li>
                <li><a href="about.html">Về chúng tôi</a></li>
                <li><a href="services.html">Dịch vụ</a></li>
                <li><a href="#"> Bài đăng</a></li>
                <li><a href="contact.html">Liên hệ</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 footer-list-29 footer-3 mt-lg-0 mt-5">
  
              <ul>
                <h6 class="footer-title-29">Services</h6>
                <li><a href="#team">Construction Manage</a></li>
                <li><a href="#insta">Architecture & Building</a></li>
                <li><a href="#careers">Xây dựng hợp đồng</a></li>
                <li><a href="#help">Trợ giúp & Hỗ trợ</a></li>
              </ul>
  
            </div>
            <div class="col-lg-3 col-md-6 col-sm-8 footer-list-29 footer-1 mt-lg-0 mt-5">
              <h6 class="footer-title-29">Liên hệ</h6>
              <ul>
                <li>
                  <p><span class="fa fa-map-marker"></span> 254 Nguyễn Văn Linh, Quận Thanh Khê - Tp. Đà Nẵng</p>
                </li>
                <li><a href="tel:+7-800-999-800"><span class="fa fa-phone"></span> +(21)-255-999-8888</a></li>
                <li><a href="mailto:industrie@mail.com" class="mail"><span class="fa fa-envelope-open-o"></span>
                    industrie@mail.com</a></li>
              </ul>
            </div>
            <div class="col-lg-12 footer-list-29 footer-4 mt-5">
              <div class="column1 align-self">
                <h6 class="footer-title-29 mb-1">Theo dõi bản tin của chúng tôi </h6>
                <p>Nhập email của bạn và nhận tin tức mới nhất từ ​​chúng tôi.</p>
              </div>
              <div class="column1">
                <form action="#" class="subscribe" method="post">
                  <input type="email" name="email" placeholder="Địa chỉ email của bạn" required="">
                  <button><span class="fa fa-paper-plane-o pr-1"></span></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="w3l-footer-29-main w3l-copyright">
    <section class="w3l-footer-29-main w3l-copyright">
    <div class="container">
      <div class="bottom-copies">
        <p class="copy-footer-29 text-center">Copyright © 2020 - Bản quyền thuộc về <a href="" target="_blank">
            WEBSITE QUẢN LÝ THỰC TẬP SINH</a></p>
      </div>
    </div>

    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      <span class="fa fa-angle-up"></span>
    </button>
<!-- Template JavaScript -->
<script src="/assets/js/jquery-3.3.1.min.js"></script>

    <script src="/assets/js/theme-change.js"></script>

    <!-- js for portfolio lightbox -->
    <!-- libhtbox -->
    <script src="/assets/js/lightbox-plus-jquery.min.js"></script>
    <!-- libhtbox -->
    <script src="/assets/js/owl.carousel.js"></script>
       <!-- script for testimonials -->
       <script>
        $(document).ready(function () {
          $('.owl-testimonial').owlCarousel({
            loop: true,
            margin: 0,
            nav: true,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
              0: {
                items: 1,
                nav: false
              },
              480: {
                items: 1,
                nav: false
              },
              667: {
                items: 1,
                nav: true
              },
              1000: {
                items: 1,
                nav: true
              }
            }
          })
        })
      </script>
      <!-- //script for testimonials -->
    <!-- stats number counter-->
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/jquery.countup.js"></script>
    <script>
      $('.counter').countUp();
    </script>
    <!-- //stats number counter -->

    <!-- disable body scroll which navbar is in active -->
    <script>
      $(function () {
        $('.navbar-toggler').click(function () {
          $('body').toggleClass('noscroll');
        })
      });
    </script>
    <!-- disable body scroll which navbar is in active -->

    <!--/MENU-JS-->
    <script>
      $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
          $("#site-header").addClass("nav-fixed");
        } else {
          $("#site-header").removeClass("nav-fixed");
        }
      });

      //Main navigation Active Class Add Remove
      $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
      });
      $(document).on("ready", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
        $(window).on("resize", function () {
          if ($(window).width() > 991) {
            $("header").removeClass("active");
          }
        });
      });
    </script>
    <!--//MENU-JS-->

    <script src="/assets/js/bootstrap.min.js"></script>