

  <header id="site-header" class="fixed-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark stroke">
        <h1><a class="navbar-brand" href="index.html">
            <span class="sub-log">KCNTT</span>
          </a></h1>
        <!-- if logo is image enable this   
      <a class="navbar-brand" href="#index.html">
          <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
      </a> -->
        <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
          data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
          <span class="navbar-toggler-icon fa icon-close fa-times"></span>
          </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mx-lg-auto">
            <li class="nav-item active">
              <a class="nav-link active" href="/home">Trang Chủ <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home/about">Giới Thiệu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home/services">Tin Tức</a>
            </li>
            <li class="top-quote ml-lg-4 mt-lg-0 mt-3">
              <a href="/admin" class="btn btn-style btn-primary">Admin</a>
            </li>
          </ul>
        </div>
        <!-- toggle switch for light and dark theme -->

        <div class="mobile-position">
          <nav class="navigation">
            <div class="theme-switch-wrapper">
              <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox">
                <div class="mode-container py-1">
                  <i class="gg-sun"></i>
                  <i class="gg-moon"></i>
                </div>
              </label>
            </div>
          </nav>
        </div>
        <!-- //toggle switch for light and dark theme -->
      </nav>
    </div>
  </header>


    <section class="w3l-main-slider" id="home">
      <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
          <div class="item">
            <li>
              <div class="slider-info banner-view bg bg2">
                <div class="banner-info">
                  <div class="container">
                    <div class="banner-info-bg">
                      <h5>CÔNG TY CỔ PHẦN TẬP ĐOÀN MƯỜNG THANH
                        Ðà Nẵng</h5>
                      <p class="mt-4 pr-lg-4">Công Ty CP Tập Đoàn Mường Thanh đang cần tuyển 1 nhân sự với hình thức làm việc: <br> Tham gia điều phối và thực hiện hỗ trợ khách hàng về các vấn đề liên quan tới…  </p>
                      <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="/home/about"> About Us</a>
                      <a class="btn btn-style btn-white mt-sm-5 mt-4" href="/contact"> Contact Us</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </div>
          <div class="item">
            <li>
              <div class="slider-info  banner-view banner-top1 bg bg2">
                <div class="banner-info">
                  <div class="container">
                    <div class="banner-info-bg">
                      <h5>CÔNG TY CỔ PHẦN ĐẤT XANH MIỀN TRUNG Đà Nẵng</h5>
                      <p class="mt-4 pr-lg-4">Bạn đang xem tin Việc làm IT TEAM LEADER trong ngành CNTT - Phần mềm, Viễn Thông, CNTT - Phần cứng / Mạng được tuyển dụng tại Đà Nẵng , Quận Sơn Trà bởi CÔNG TY… <br>
                        Tham gia điều phối và thực hiện hỗ trợ khách hàng về các vấn đề liên quan tới…
                      </p>
                      <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="about.html"> About Us</a>
                      <a class="btn btn-style btn-white mt-sm-5 mt-4" href="contact.html"> Contact Us</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </div>
          <div class="item">
            <li>
              <div class="slider-info banner-view banner-top2 bg bg2">
                <div class="banner-info">
                  <div class="container">
                    <div class="banner-info-bg">
                      <h5>CÔNG TY CỔ PHẦN TẬP ĐOÀN MƯỜNG THANH
                        Ðà Nẵng</h5>
                      <p class="mt-4 pr-lg-4">Có kiến thức về các môn học cơ bản như C/C++, lập trình hướng đối tượng (OOP),v.v…;
                        Để mở rộng hoạt động kinh doanh, chúng tôi chính thức mở văn phòng mới tại… <br>Có kinh nghiệm thực tế trong việc sử dụng và thực hiện các design patterns (MVC, Observer, Singleton); </p>
                      <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="about.html"> About Us</a>
                      <a class="btn btn-style btn-white mt-sm-5 mt-4" href="contact.html"> Contact Us</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </div>
          <div class="item">
            <li>
              <div class="slider-info banner-view banner-top3 bg bg2">
                <div class="banner-info">
                  <div class="container">
                    <div class="banner-info-bg">
                      <h5>CÔNG TY CỔ PHẦN TẬP ĐOÀN HBC
                        Ðà Nẵng</h5>
                      <p class="mt-4 pr-lg-4">>Code từ design PSD/AI sang html/css/js (yêu cầu perfect pixel). <br> Thực hiện các công việc liên quan đến UI của giao diện website... <br>
                        Có kiến thức về Java, Android, lập trình hướng đối tượng OOP, cấu trúc dữ liệu và thuật toán là lợi thế;<br>
                        Thực hiện các công việc liên quan đến UI của giao diện website... <br> </p>
                      <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="about.html"> About Us</a>
                      <a class="btn btn-style btn-white mt-sm-5 mt-4" href="contact.html"> Contact Us</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </div>
        </div>
        <div class="arrow-downhny">
          <a href="#about" class="arrow-down text-center position-absolute">
            <span class="arrow-down-icon">
              <span class="fa fa-arrow-down"></span>
            </span>
          </a>
        </div>
      </div>
    </section>

  <div class="portfolio-main py-md-5 py-3">
    <div class="container">
      <div class="header-section text-center mx-auto">
        <h6 class="sub-titlehny">Doanh Nghiệp</h6>
        <h3 class="hny-title">Liên Kết Với Khoa CNTT </h3>
        <p class="my-3"> Với mục tiêu tạo ra môi trường chuyên nghiệp trong việc đưa sinh viên có ước mơ và phù hợp với
          nhu cầu của Doanh Nghiệp. Chúng tôi liên kết với các Doanh Nghiệp nhằm thuận lợi cho việc sinh viên đi thực
          tập.</p>
      </div>
      <div class="row galler-top mt-lg-5 mt-4">
        <div class="col-md-4 protfolio-item hover14">
          <a href="" data-lightbox="example-set" class="mb-4" data-title="lorem ipsum dolor sit amet">
            <figure>
              <img src="/assets/images/hinh1.jpg" alt="product" class="img-fluid">
            </figure>
          </a>
          <a href="/assets/images/hinh1.jpg" data-lightbox="example-set" class="mb-md-0 mb-4"
            data-title="lorem ipsum dolor sit amet">
            <figure>
              <img src="/assets/images/hinh2.jpg" alt="product" class="img-fluid">
            </figure>
          </a>
        </div>
        <div class="col-md-4 protfolio-item hover14">
          <a href="/assets/images/2.jpg" data-lightbox="example-set" class="mb-4"
            data-title="lorem ipsum dolor sit amet">
            <figure>
              <img src="/assets/images/hinh3.jpg" alt="product" class="img-fluid">
            </figure>
          </a>
          <a href="/assets/images/3.jpg" data-lightbox="example-set" class="mb-md-0 mb-4"
            data-title="lorem ipsum dolor sit amet">
            <figure>
              <img src="/assets/images/hinh4.jpg" alt="product" class="img-fluid">
            </figure>
          </a>
        </div>
        <div class="col-md-4 protfolio-item hover14">
          <a href="/assets/images/4.jpg" data-lightbox="example-set" class="mb-4"
            data-title="lorem ipsum dolor sit amet">
            <figure>
              <img src="/assets/images/hinh5.jpg" alt="product" class="img-fluid">
            </figure>
          </a>
          <a href="/assets/images/5.jpg" data-lightbox="example-set" data-title="lorem ipsum dolor sit amet">
            <figure>
              <img src="/assets/images/hinh6.jpg" alt="product" class="img-fluid">
            </figure>
          </a>

        </div>

      </div>
    </div>
  </div>

<section class="w3l-footer-29-main">
      <div class="footer-29 py-5">
        <div class="container py-lg-4">
          <div class="row footer-top-29">
            <div class="footer-list-29 col-lg-4">
              <h6 class="footer-title-29">Về chúng tôi</h6>
              <p>Đào tạo, nghiên cứu gắn liền với khoa học và công nghệ nhằm tạo ra những sinh viên và học viên có lòng yêu nước, có phẩm chất Nhân văn mang đậm bản sắc Việt Nam, có ý thức sinh hoạt cộng đồng, có sức khỏe, có năng lực và kỹ năng toàn diện, tự tin, năng động, sáng tạo và trở thành công dân khởi nghiệp mang tính toàn cầu. </p>
              <div class="main-social-footer-29 mt-4">
                <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
              </div>
            </div>
  
            <div class="col-lg-2 col-md-6 col-sm-4 footer-list-29 footer-2 mt-lg-0 mt-5">
  
              <ul>
                <h6 class="footer-title-29">Liên kết</h6>
                <li><a href="index.html">Trang chủ</a></li>
                <li><a href="about.html">Về chúng tôi</a></li>
                <li><a href="services.html">Dịch vụ</a></li>
                <li><a href="#"> Bài đăng</a></li>
                <li><a href="contact.html">Liên hệ</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 footer-list-29 footer-3 mt-lg-0 mt-5">
  
              <ul>
                <h6 class="footer-title-29">Services</h6>
                <li><a href="#team">Construction Manage</a></li>
                <li><a href="#insta">Architecture & Building</a></li>
                <li><a href="#careers">Xây dựng hợp đồng</a></li>
                <li><a href="#help">Trợ giúp & Hỗ trợ</a></li>
              </ul>
  
            </div>
            <div class="col-lg-3 col-md-6 col-sm-8 footer-list-29 footer-1 mt-lg-0 mt-5">
              <h6 class="footer-title-29">Liên hệ</h6>
              <ul>
                <li>
                  <p><span class="fa fa-map-marker"></span> 254 Nguyễn Văn Linh, Quận Thanh Khê - Tp. Đà Nẵng</p>
                </li>
                <li><a href="tel:+7-800-999-800"><span class="fa fa-phone"></span> +(21)-255-999-8888</a></li>
                <li><a href="mailto:industrie@mail.com" class="mail"><span class="fa fa-envelope-open-o"></span>
                    industrie@mail.com</a></li>
              </ul>
            </div>
            <div class="col-lg-12 footer-list-29 footer-4 mt-5">
              <div class="column1 align-self">
                <h6 class="footer-title-29 mb-1">Theo dõi bản tin của chúng tôi </h6>
                <p>Nhập email của bạn và nhận tin tức mới nhất từ ​​chúng tôi.</p>
              </div>
              <div class="column1">
                <form action="#" class="subscribe" method="post">
                  <input type="email" name="email" placeholder="Địa chỉ email của bạn" required="">
                  <button><span class="fa fa-paper-plane-o pr-1"></span></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <section class="w3l-footer-29-main w3l-copyright">
    <div class="container">
      <div class="bottom-copies">
        <p class="copy-footer-29 text-center">Copyright © 2020 - Bản quyền thuộc về <a href="" target="_blank">
            WEBSITE QUẢN LÝ THỰC TẬP SINH</a></p>
      </div>
    </div>

    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      <span class="fa fa-angle-up"></span>
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
  </section>

  
  <!-- Template JavaScript -->
  <button onclick="topFunction()" id="movetop" title="Go to top">
      <span class="fa fa-angle-up"></span>
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
  </section>
  <!-- Template JavaScript -->
  <script src="/assets/js/jquery-3.3.1.min.js"></script>

  <!-- script for testimonials -->
  <script>
    $(document).ready(function () {
      $('.owl-testimonial').owlCarousel({
        loop: true,
        margin: 0,
        nav: true,
        responsiveClass: true,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          480: {
            items: 1,
            nav: false
          },
          667: {
            items: 1,
            nav: true
          },
          1000: {
            items: 1,
            nav: true
          }
        }
      })
    })
  </script>
  <!-- //script for testimonials -->

  <script src="/assets/js/theme-change.js"></script>

  <!-- js for portfolio lightbox -->
  <!-- libhtbox -->
  <script src="/assets/js/lightbox-plus-jquery.min.js"></script>
  <!-- libhtbox -->
  <script src="/assets/js/owl.carousel.js"></script>
  <!-- script for banner slider-->
  <script>
    $(document).ready(function () {
      $('.owl-one').owlCarousel({
        loop: true,
        margin: 0,
        nav: false,
        responsiveClass: true,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          480: {
            items: 1,
            nav: false
          },
          667: {
            items: 1,
            nav: true
          },
          1000: {
            items: 1,
            nav: true
          }
        }
      })
    })
  </script>
  <!-- //script -->
  <!-- stats number counter-->
  <script src="/assets/js/jquery.waypoints.min.js"></script>
  <script src="/assets/js/jquery.countup.js"></script>
  <script>
    $('.counter').countUp();
  </script>
  <!-- //stats number counter -->

  <!-- disable body scroll which navbar is in active -->
  <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll which navbar is in active -->

  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->
<link href="//fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,600;0,700;1,400&display=swap"
    rel="stylesheet">
  <!-- Template CSS -->
  <link rel="stylesheet" href="/assets/css/style-starter.css">
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/slide.js"></script>