<div class="mt-4 search-form">
    <form method="POST" action="">  {{!-- /news --}}
        {{!-- mặc định Method là GET --}}
        {{!-- action: thể hiện submit tại đâu, mặc định là tại chính đường dẫn hiện tại --}}
        <div class="form-group">
            <label for="search-input">Tu khoa</label>
            <input class="text" name="q" id="search-input" placeholder="Nhap tu khoa">
        </div>
        
        <button type="submit" class="btn btn-primary">Tim Kiem</button>
    </form>
</div>