<div class="banner" style="background-image: url(/assets/images/dtu.jpg);
    height: 700px;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    ">
</div>
<section class="w3l-breadcrumb">
  <div class="container">
    <ul class="breadcrumbs-custom-path">
      <li><a href="#url">Home</a></li>
      <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span>Tin Tức</li>
    </ul>
  </div>
</section>
<!--/services-->

<!-- posts -->
<div class="posts">

  <div class="container tintuc">
    <div class="row ">
      <div class="col-ml-4">
        <div class="left">
          <img src="/assets/images/dabong.jpg" alt="" style="width: 350px;height: 250px;">
        </div>
        <div class="right">
          <a href="https://duytan.edu.vn/news/NewsDetail.aspx?id=4944&pid=2069&lang=vi-VN">
            <h5>Bế mạc Giải bóng đá Mini Nam Truyền thống Đại học Duy Tân lần XIII</h5>
          </a>
          <br>
          <span>29/12/2020</span>
          <br>
          <span style="font-size: 13px;">Sau gần 1 tháng tranh tài sôi nổi, Giải Bóng đá Mini Nam Truyền thống Đại học
            Duy Tân lần thứ XIII năm
            2020 đã chính thức khép lại với 2 trận cầu hấp dẫn tranh Cúp Vô địch và tranh giải Ba tại sân vận động Đại
            học Duy Tân - số 120 Hoàng Minh Thảo, Hòa Khánh Nam, Quận Liên Chiểu, Tp. Đà Nẵng trong chiều....</span> <a
            class="xemthem" href="">Xem thêm</a>
        </div>
      </div>

    </div>
  </div>
  <div class="container tintuc">
    <div class="row ">
      <div class="col-ml-4">
        <div class="left">
          <img src="/assets/images/khanhthanh.jpg" alt="" style="width: 350px;height: 250px;">
        </div>
        <div class="right">
          <a href="https://duytan.edu.vn/news/NewsDetail.aspx?id=4944&pid=2069&lang=vi-VN">
            <h5>Lễ Khánh thành Phòng Thực hành Kỹ năng Điều dưỡng tại Đại học Duy Tân</h5>
          </a>
          <br>
          <span>29/12/2020</span>
          <br>
          <span style="font-size: 13px;">Cùng với quá trình ký kết hợp tác giữa Đại học Duy Tân và Tập đoàn Glome
            Management, Tập đoàn Glome Management đã trao tặng các trang thiết bị điều dưỡng cho nhà trường nhằm phục vụ
            chương trình đào tạo thực tập cho sinh viên....</span> <a class="xemthem" href="">Xem thêm</a>
        </div>
      </div>

    </div>
  </div>
  <div class="container tintuc">
    <div class="row ">
      <div class="col-ml-4">
        <div class="left">
          <img src="/assets/images/kt2.jpg" alt="" style="width: 350px;height: 250px;">
        </div>
        <div class="right">
          <a href="https://duytan.edu.vn/news/NewsDetail.aspx?id=4944&pid=2069&lang=vi-VN">
            <h5>Sinh viên điều dưỡng chế tạo khẩu trang từ bã mía</h5>
          </a>
          <br>
          <span>06/01/2020</span>
          <br>
          <span style="font-size: 13px;">Xuất phát từ nhu cầu thực tiễn cần một loại khẩu trang giá thành rẻ, thân thiện
            với môi trường, 5 sinh viên gồm: Nguyễn Hồng Dung, Võ Thị Hàn Châu, Nguyễn Lê Nhật Mai, Nguyễn Thị Thanh Nga
            (cùng là sinh viên năm 2 Khoa Điều dưỡng) và Phan Văn Thịnh....</span> <a class="xemthem" href="">Xem
            thêm</a>
        </div>
      </div>

    </div>
  </div>
  <div class="container tintuc">
    <div class="row ">
      <div class="col-ml-4">
        <div class="left">
          <img src="/assets/images/ntv.jpg" alt="" style="width: 350px;height: 250px;">
        </div>
        <div class="right">
          <a href="https://duytan.edu.vn/news/NewsDetail.aspx?id=4944&pid=2069&lang=vi-VN">
            <h5>Giảng viên Đại học Duy Tân giành giải nhì Mỹ thuật Đà Nẵng 2020</h5>
          </a>
          <br>
          <span>29/12/2020</span>
          <br>
          <span style="font-size: 13px;">Triển lãm Mỹ thuật Thành phố Đà Nẵng diễn ra từ ngày 9 đến 17-12-2020 với chủ
            đề “Mỹ thuật Đà Nẵng 2020” đã thu hút đông đảo công chúng, người yêu nghệ thuật trên địa bàn thành phố đến
            thưởng lãm.....</span> <a class="xemthem" href="">Xem thêm</a>
        </div>
      </div>

    </div>
  </div>
  <div class="container tintuc">
    <div class="row ">
      <div class="col-ml-4">
        <div class="left">
          <img src="/assets/images/olim.jpg" alt="" style="width: 350px;height: 250px;">
        </div>
        <div class="right">
          <a href="https://duytan.edu.vn/news/NewsDetail.aspx?id=4944&pid=2069&lang=vi-VN">
            <h5>Sinh viên Duy Tân giành nhiều giải thưởng tại Olympic Tin học SV VN lần thứ 29</h5>
          </a>
          <br>
          <span>29/12/2020</span>
          <br>
          <span style="font-size: 13px;">Tham gia vào sân chơi trí tuệ đẳng cấp trong lĩnh vực Công nghệ thông tin, sinh
            viên trường Đại học (ĐH) Duy tân đã và đang khẳng định được năng lực thi đấu bền bỉ đầy hiệu quả trước các
            đối thủ “nặng ký” trên toàn quốc.....</span> <a class="xemthem" href="">Xem thêm</a>
        </div>
      </div>

    </div>
  </div>
  <div class="container tintuc">
    <div class="row ">
      <div class="col-ml-4">
        <div class="left">
          <img src="/assets/images/tb.jpg" alt="" style="width: 350px;height: 250px;">
        </div>
        <div class="right">
          <a href="https://duytan.edu.vn/news/NewsDetail.aspx?id=4946&pid=2062&lang=vi-VN">
            <h5>Trang bị phòng thực hành kỹ năng điều dưỡng cho sinh viên khối ngành sức khỏe</h5>
          </a>
          <br>
          <span>29/12/2020</span>
          <br>
          <span style="font-size: 13px;">Năm 2019, Trường đã ký kết hợp tác với Tập đoàn Glome Management (Nhật Bản) về
            đào tạo kiến thức, kỹ năng cơ bản điều dưỡng và tiếng Nhật. Phía Nhật cũng đã cử giáo viên sang xây dựng
            chương trình đào tạo tiếng Nhật nhằm phục vụ cho chương trình hợp tác này.....</span> <a class="xemthem"
            href="">Xem thêm</a>
        </div>
      </div>

    </div>
  </div>
  <div class="container tintuc">
    <div class="row ">
      <div class="col-ml-4">
        <div class="left">
          <img src="/assets/images/bv.png" alt="" style="width: 350px;height: 250px;">
        </div>
        <div class="right">
          <a href="https://duytan.edu.vn/news/NewsDetail.aspx?id=4202&pid=2062&lang=vi-VN">
            <h5>Bệnh viện Trung ương Huế là Đơn vị Thực hành chính cho Sinh viên ngành Y của Đại học Duy Tân</h5>
          </a>
          <br>
          <span>29/12/2020</span>
          <br>
          <span style="font-size: 13px;">Sau ký kết hợp tác vào năm 2017 giữa Đại học Duy Tân và Bệnh viện Trung ương
            Huế để đưa sinh viên đến thực tập tại bệnh viện, ngày 22/6/2018, Đại học Duy Tân đã đến thăm và làm việc tại
            bệnh viện đồng thời mở ra nhiều cơ hội hợp tác ý nghĩa hơn nữa giữa 2 đơn vị....</span> <a class="xemthem"
            href="">Xem thêm</a>
        </div>
      </div>

    </div>
  </div>
  <div class="container tintuc">
    <div class="row ">
      <div class="col-ml-4">
        <div class="left">
          <img src="/assets/images/ase.jpg" alt="" style="width: 350px;height: 250px;">
        </div>
        <div class="right">
          <a href="https://duytan.edu.vn/news/NewsDetail.aspx?id=2950&pid=2062&lang=vi-VN">
            <h5>P2A và Hành trình đến với Cộng đồng ASEAN</h5>
          </a>
          <br>
          <span>29/12/2020</span>
          <br>
          <span style="font-size: 13px;">Cộng đồng kinh tế ASEAN (AEC) được thành lập vào năm 2015 là một bước ngoặt
            lớn, đánh dấu sự hòa nhập toàn diện các nền kinh tế của các nước trong khu vực Đông Nam Á. Gia nhập vào AEC
            sẽ mang đến cho Việt Nam nhiều cơ hội phát triển và khả năng cạnh tranh cao trong nền kinh tế thị trường
            chung của thế giới....</span> <a class="xemthem" href="">Xem thêm</a>
        </div>
      </div>

    </div>
  </div>
</div> -->
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="/assets/js/theme-change.js"></script>
<!-- libhtbox -->
<script src="/assets/js/lightbox-plus-jquery.min.js"></script>
<!-- libhtbox -->
<script src="/assets/js/owl.carousel.js"></script>

<link rel="stylesheet" href="/assets/css/1.css">