
<form class="mt-4" method="POST" action="store" enctype="multipart/form-data">
  <div class="form-group">
    <label>Tieu de</label>
    <input type="text" class="form-control"  name="title_post" placeholder="title_post">
  </div>
  <div class="form-group">
    <label>Noi dung</label>
    <input type="text" class="form-control"  name="detail_post" placeholder="detail_post">
  </div>
  <div class="form-group">
    <label>Ngay tao</label>
    <input type="date" class="form-control" name="time_create" placeholder="Birth Day">
  </div>
  <div class="custom-file">
    <input type="file" name="image_post">
  </div>

  
  <button type="submit" class="btn btn-primary">Thêm</button>
</form>`