
<form class="mt-4" method="POST" action="store" enctype="multipart/form-data">
  <div class="form-group">
    <label>Name Instructor</label>
    <input type="text" class="form-control"  name="name_instructor" placeholder="name_instructor">
  </div>
  <div class="form-group">
    <label>Nick name</label>
    <input type="text" class="form-control"  name="nickname" placeholder="nickname">
  </div>
  <div class="form-group">
    <label>Birth Day</label>
    <input type="date" class="form-control" name="birthday" placeholder="birthday">
  </div>
  <div class="form-group">
    <label>Mo ta</label>
    <input type="text" class="form-control"  name="describe_instructor" placeholder="describe_instructor">
  </div>
  <div class="form-group">
    <label>Contact</label>
    <input type="text" class="form-control"  name="contact" placeholder="contact">
  </div>
  <div class="custom-file">
    <input type="file" name="image_instructor">
  </div>

  
  <button type="submit" class="btn btn-primary">Thêm</button>
</form>`