
<div class="container mt-4">

{{#each instructors}}

    <div class="row">
        <div class="col-md-1">
            <h2>{{this.id_instructor}}</h2>
        </div>
    </div>

{{/each}}

</div>

